/*       Index        */ 
/*       createAccount        */ 
/*       Login        */ 


/*       Dashboard        */       

#calendar {
    display: grid;
    grid-template-columns: repeat(1, .5fr);
    grid-template-rows: repeat(5, 5fr);
    gap: 5px;
}

.day {
    background-color: brown;
    font-size: larger;
    height: 50px;
}

#today {
    background-color: blue;
}

#workingDay{
    background-color: blueviolet;
}


