/*       Index        */ 
/*       createAccount        */ 
/*       Login        */ 


/*       Dashboard        */       

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 500px;
    gap: 5px;
}

.day {
    background-color: brown;
    font-size: larger;
}

#today {
    background-color: blue;
}

#workingDay{
    background-color: blueviolet;
}


